<!-- falando q esta pasta possui arquivos estáticos -->
{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
    <main>
        <section class="sobre-nos">

            <div id="slogan">
                <p>"O dia não precisa ser perfeito para ser maravilhoso, mas com certeza precisa de um pãozinho com um bom café!"</p>
            </div>
            <div id="slogan">
                <p>"Na padaria da Tia Rosa, você poderá desfrutar do mais tradicional ao revolucionário pão casseiro!"</p>
            </div>
        </section>
    <section class="nosso-espaco">
        <h3>Nosso espaço</h3>
        <div>
            <img src="{% static './assets/coffee-shop-entrada.jpg' %}" alt="entrada da padaria">
            <img src="{% static './assets/tipos-cafe.jpg' %}" alt="cantinho dos cafés gourmet">
        </div>
        <div>
            <img src="{% static './assets/leitora.jpg' %}" alt="cliente lendo">
            <img src="{% static './assets/janela-padaria.jpg' %}" alt="">
        </div>
    </section>
    <section class="produtos-mais-vendidos">
        <h3>Produtos Mais Vendidos</h3>
        <div class="produtos">
            {% if cards%}
            {% for fotografia in cards %}
            <div class="produto">
                <img class="tipo-cafe" src="{% static './assets/' %}{{ fotografia.foto}}" alt="foto pão de calabresa">
                <p>{{fotografia.nome}}</p>
                <p>{{fotografia.preco}}</p>
                <button>adicionar no carrinho</button>
            </div>
            {% endfor %}
            {% else %}
            {% endif %}
        </div>
    </section>
    </main>

{% endblock %}